{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="container">
    <form method='post' id='changePasswdForm'>
        {% csrf_token %}
        <table>
            <tr>
                <td>旧密码：</td><td>
                <input type='password' id='old_passwd' name='old_passwd' onblur="validateOldPassword();"　onkeyup="validateOldPassword();"/>
                </td>
            </tr>
            <tr><td colspan="2" height="20"><span id='validateOldPassword'> </span></td></tr>
            <tr>
                <td>新密码：</td><td>
                <input type='password' id='new_passwd' name='new_passwd' onblur="validateNewPassword();" onkeyup="validateNewPassword();"/>
                </td>
            </tr>
            <tr><td colspan="2" height="20"><span id='validateNewPassword'> </span></td></tr>
            <tr>
                <td>确认密码：</td><td>
                <input type='password' id='confirmed_passwd' name='confirmed_passwd' onblur="validateComfirmPassword();" onkeyup="validateComfirmPassword();"/>
                </td>
            </tr>
            <tr><td colspan="2" height="20"><span id='validateConfirmPassword'> </span></td></tr>
            <tr>
                <td colspan='2'>
                <input type='submit' value=" 更新密码">
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    
    function validateOldPassword() {
        var oldPasswd = $("#old_passwd").val();
        if(oldPasswd =="") {
            $("#validateOldPassword").html("<font color='red'>旧密码不能为空，请输入旧密码！</font>");
            return false;
        }else {
            $("#validateOldPassword").html("<font color='green'>已输入旧密码</font>");
            return true;
        }
    }
    
    function validateNewPassword() {
        var newPasswd = $("#new_passwd").val();
        if(newPasswd != "" && newPasswd.length >= 4 && newPasswd.length <= 16 && newPasswd.indexOf(" ") == -1) {
            $("#validateNewPassword").html("<font color='green'>输入新密码正确</font>");
            return true;
        } else if (newPasswd ==""){
            $("#validateNewPassword").html("<font color='red'>新密码不能为空，请输入4-16位任意字符</font>");
            return false;
        } else {
            $("#validateNewPassword").html("<font color='red'>新密码不符合规范，请输入4-16位任意字符</font>");
            return false;
        }
     }
     
     function validateComfirmPassword() {
        var newPasswd = $("#new_passwd").val();
        var confirmed_passwd = $("#confirmed_passwd").val();
        if(confirmed_passwd != "" && confirmed_passwd == newPasswd) {
            $("#validateConfirmPassword").html("<font color='green'>确认密码输入正确</font>");
            return true;
        } else if(confirmed_passwd == "") {
            $("#validateConfirmPassword").html("<font color='red'>确认密码不能为空</font>");
            return false;
        } else {
            $("#validateConfirmPassword").html("<font color='red'>两次密码不一致，请新输入</font>");
            return false;
        }
     }
     

     function submitChangePassword() {
        if(validateOldPassword() && validateNewPassword() && validateComfirmPassword()) {  
            var options = {
                url : "/change_passwd/",
                beforeSubmit: function (arr, $form, options) {
                    if (!(/^http:.*/.test(options.url) || /^https:.*/.test(options.url))) {
                     if (typeof(options.headers) == "undefined") {
                       options.headers = {'X-CSRFToken': $.cookie('csrftoken')};
                     } else {
                       options.headers.extend({'X-CSRFToken': $.cookie('csrftoken')});
                     }                        
                   }
                },
                type : 'POST',
                success : function(data) {
                   var callStr = eval("(" + data + ")");
                   alert(callStr.msg);
                   if(callStr.success == true) {
                       changePasswordWindow.close();
                   }
                }
            };
            $(this).ajaxSubmit(options);
        }  
        return false;
    }

    $(function() {
         $("#changePasswdForm").submit(submitChangePassword); 
    });
</script>
{% endblock %}