<div id="dockContainer">
    <ul id="jqDock"> </ul>
</div>
<div class="wrap background">
    <div id="header">
        <div style="height:142px; background-image: url('{{static_root}}/images/banner_bg.png');background-repeat: repeat-x;" border="false">
            <a href="/index/"><span><img src="{{static_root}}/images/cCloud_banner.png" alt="中亦科技－cCloud" title="中亦科技－cCloud"></span></a>
        </div>
        <div style="height:25px;background-image: url('{{static_root}}/images/menu/menu_bg.png');background-repeat: repeat-x;" border="false">
            <div style="float: left;padding-left: 5px;margin-top: 4px;"><span id="username" style="color: #FFF; font-size: 14; "> </span></div> 
            <div style="float: right;padding-right: 5px;">
                <a href="javascript:void(0);" onclick="changePassword()" title="修改用户登录密码"><img alt="修改密码" src="{{static_root}}/images/menu/edit_passwd.png"></a>
                <a href="javascript:void(0);" onclick="logout()" title="用户注销登出"><img alt="登出" src="{{static_root}}/images/menu/logout.png"></a>
            </div>
        </div>
    </div>

    <div id="side">
        <div id="functionContent" style="float: left; padding-left: 2px;"> </div>
    </div>
</div>

<div id="promo">
    <div class="wrap">  
        <div id="footer">
             <p>版权所有： <a href="http://www.ce-service.com.cn/">北京中亦安图科技股份有限公司 </a></p>
            <p>Copyright &copy; 2012-2013 &minus; ChinaEtek Service &amp; Technology CO.,Ltd</p>
        </div>
    </div>
</div>